<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="auth-email">Email</label>
    <input class="form-control" id="auth-email" type="email" name="email">
  
    <label for="auth-password">Password</label>
    <input class="form-control" id="auth-password" type="password" name="password">
    </br>
    <input type="submit" class="btn btn-primary" value="Log In">

  </div>


  
</form>
