<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav>
        <a href="/">Game Tracker</a>
        <a href="/games/played">Games Played</a>
        <form method="GET" action="/games/results">
          <input type="text" name="game" id="game">
          <input type="submit" value="Search">
      
      </form>
        <ul>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>

          <% } else {%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <h1>Game Tracker</h1>
    
    <%- body %>
    <footer>
      
      <p><a href="https://rawg.io/">Powered by RAWG.io</a></p>
    </footer>
  </body>
</html>
