nav ul li {
  text-decoration: none;
  display: inline-flex;
  margin-right: .3em;
  align-items: baseline;
  font-family: 'Press Start 2P', monospace;
  
}
h1 {
  font-family: 'Press Start 2P', monospace;
  align-content: center;
}
h3 {
  font-family: 'Press Start 2P', monospace;
  align-content: center;
}
.index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  

}
.index img {
  object-fit: cover;
  width: 425px;
  height: 250px;
}
.played {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}
.played img {
  object-fit: cover;
  width: 500px;
  height: 250px;
}

footer {
  font-family: 'Press Start 2P', monospace;
  align-content: center;
}
.margin {
  margin: 80px 55px 125px 60px;
  
}

.right-side {
  align-content: flex-end;
}
.center {
  max-height: 60px;
  
}
.comments {
  margin-right: 15px;
}

.details {
  max-width: 1200px;
  max-height: 500px;
  margin-bottom: 150px;
}

.details img{ 
  object-fit: cover;
  width: 1200px;
  height: 600px;
}

@media screen and (max-width: 600px) {
  nav ul li {
    font-size: 8px;
  }
  .margin {
    margin: 200px 55px 125px 55px;
    font-size: 25px;
  }
  .details {
    max-width: 600px;
    max-height: 200px;
    margin-bottom: 150px;
  }
  
  .details img{ 
    margin-top: 50px;
    
    width: 500px;
    height: 300px;
  }
  .error {
    margin: 200px 55px 125px 55px;
    font-size: 25px;
  }
  .error img{ 
    margin-top: 50px;
    
    width: 500px;
    height: 300px;
  }
}