<h1>Games Played</h1>

<% games.forEach(function(game) { %>
    <div class="well">
      <h3><a href="/games/<%= game.rawg %>"><%= game.title %></a></h3>
      <p> <%= game.createdAt %></p>
      
    </div>
  <% }); %>